---
- name: Is it installed?
  ansible.builtin.stat:
    path: '{{ sdkman_init_script }}'
  register: sdkman_installed

- name: Not installed
  when: not sdkman_installed.stat.exists
  block:
    - name: Download installer
      ansible.builtin.get_url:
        url: https://get.sdkman.io
        dest: /tmp
        mode: '0755'

    - name: Run installer
      ansible.builtin.command: /tmp/index.html
      changed_when: false

    - name: Delete installer
      ansible.builtin.file:
        path: /tmp/index.html
        state: absent

- name: Run self update
  ansible.builtin.shell: . {{ sdkman_init_script }} && sdk selfupdate
  retries: '{{ playbook_retries }}'
  delay: '{{ playbook_delay }}'
  register: sdkman_selfupdate
  until: sdkman_selfupdate.rc == 0
  changed_when: sdkman_selfupdate.stdout != 'No update available at this time.'
  when: sdkman_installed.stat.exists

- name: Install packages
  ansible.builtin.shell: . {{ sdkman_init_script }} && sdk install {{ item.candidate }} {{ item.version }}
  loop: '{{ sdkman_install_packages }}'
  retries: '{{ playbook_retries }}'
  delay: '{{ playbook_delay }}'
  register: sdkman_install_packages_output
  until: sdkman_install_packages_output.rc == 0
  changed_when: not item.candidate + ' ' + item.version + ' is already installed.' in sdkman_install_packages_output.stdout

- name: Flush temp and archives
  ansible.builtin.shell: . {{ sdkman_init_script }} && sdk flush temp && sdk flush archives
  changed_when: false

- name: Add sdkman.sh to shell config dir
  ansible.builtin.copy:
    src: sdkman.sh
    dest: '{{ ohmyzsh_conf_dir }}/sdkman.sh'
    mode: '0644'
