---
- name: Download/Update VIMRC
  ansible.builtin.git:
    repo: 'https://github.com/amix/vimrc.git'
    dest: '{{ vimrc_runtime_dir }}'
    force: true

- name: Install VIMRC
  ansible.builtin.command: '{{ vimrc_runtime_dir }}/install_awesome_vimrc.sh'
  args:
    creates: '{{ ansible_facts["user_dir"] }}/.vimrc'

- name: Update VIMRC
  ansible.builtin.script: '{{ vimrc_runtime_dir }}/update_plugins.py'
  args:
    executable: python3
