---
- name: Run homebrew with personal packages
  ansible.builtin.include_role:
    name: homebrew
  vars:
    homebrew_taps: "{{ homebrew_personal_taps }}"
    homebrew_packages_present: "{{ homebrew_personal_packages_present }}"
    homebrew_packages_absent: "{{ homebrew_personal_packages_absent }}"
    homebrew_cask_packages_present: "{{ homebrew_personal_cask_packages_present }}"
    homebrew_cask_packages_absent: "{{ homebrew_personal_cask_packages_absent }}"
