---
- name: Include vault file to resolve ansible_become_pass
  ansible.builtin.include_vars:
    file: vault.yml

- name: Turn off analytics
  ansible.builtin.command: brew analytics off
  register: homebrew_analytics_off_output
  changed_when: homebrew_analytics_off_output.rc != 0

- name: Update Homebrew
  community.general.homebrew:
    update_homebrew: true

- name: Tap homebrew
  community.general.homebrew_tap:
    name: '{{ item }}'
    state: present
  loop: '{{ homebrew_taps }}'

- name: Uninstall cask packages
  community.general.homebrew_cask:
    name: '{{ item }}'
    state: absent
    install_options: force
    sudo_password: "{{ ansible_become_pass }}"
  loop: '{{ homebrew_cask_packages_absent }}'

- name: Install/Upgrade cask packages
  community.general.homebrew_cask:
    name: '{{ item }}'
    state: upgraded
    greedy: true
    install_options: force
    sudo_password: "{{ ansible_become_pass }}"
  loop: '{{ homebrew_cask_packages_present }}'
  ignore_errors: true  # noqa ignore-errors

- name: Get installed cask info
  ansible.builtin.command: brew info --cask --json=v2 {{ item }}
  register: cask_info
  failed_when: false
  loop: '{{ homebrew_cask_packages_present }}'

- name: Filter only installed casks
  ansible.builtin.set_fact:
    installed_casks: "{{ cask_info.results | selectattr('rc', 'equalto', 0) | selectattr('stdout', 'search', '.app') | list }}"

- name: Remove quarantine attributes from all installed .app bundles
  ansible.builtin.shell: |
    for app in $(echo '{{ item.stdout }}' \
      | jq -r '.casks[0].artifacts[] | select(type=="object") | .app[]?'); do
      xattr -rd com.apple.quarantine "/Applications/$app"
    done
  loop: '{{ installed_casks }}'
  loop_control:
    label: '{{ item.item }}'
  ignore_errors: true

- name: Uninstall packages
  community.general.homebrew:
    name: '{{ item }}'
    state: absent
    install_options: force
  loop: '{{ homebrew_packages_absent }}'

- name: Install/Upgrade packages
  community.general.homebrew:
    name: '{{ item }}'
    state: upgraded
    install_options: force,no-quarantine
  loop: '{{ homebrew_packages_present }}'
