---
- name: Run homebrew with work packages
  ansible.builtin.include_role:
    name: homebrew
  vars:
    homebrew_taps: "{{ homebrew_work_taps }}"
    homebrew_packages_present: "{{ homebrew_work_packages_present }}"
    homebrew_packages_absent: "{{ homebrew_work_packages_absent }}"
    homebrew_cask_packages_present: "{{ homebrew_work_cask_packages_present }}"
    homebrew_cask_packages_absent: "{{ homebrew_work_cask_packages_absent }}"
